<div class="col-sm-12 col-md-6">
  <%= simple_form_for [@hero, @booking] do |f| %>
    <%= f.input :date %>
    <%= f.input :start_time, as: :time %>
    <%= f.input :end_time, as: :time %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
