<h1>Booking for: <%= link_to  @booking.hero.name, hero_path(@booking.hero) %></h1>

<% if @booking.date < Date.today %>
    <p><%= (Date.today - @booking.date).to_i.abs %> day(s) ago</p>
<% else %>
    <p>In <%= (@booking.date - Date.today).to_i.abs %> day(s)</p>
<% end %>
<p>Date: <%= @booking.date %></p>
<p>Start time: <%= @booking.start_time.strftime("%I:%M%p") %></p>
<p>End time: <%= @booking.end_time.strftime("%I:%M%p") %></p>
<p>Your emergency: <%= @booking.description %></p>

<%= link_to  "Update booking", edit_booking_path(@booking) %>
<br>
<% if policy(@booking).destroy? %>
  <%= link_to booking_path,
    method: :delete,
    data: { confirm: "Are you sure?" } do %><i class="far fa-trash-alt"> Delete booking</i>
  <% end %>
 <% end %>
<br>
<%= link_to  "Back to my bookings", bookings_path %>
